.template_section{
    background-color: #f4f4f9;
    padding-bottom: 40px;
    padding-top: 7px;
}

.template_top{
    margin-left: 180px;
    margin-right: 180px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.template_right{
    display: flex;
}
.gallery_button{
       display: flex;
       justify-content: space-between;
       align-items: center;
       background: transparent;
       font-size: 20px;
}


.template_top{
    margin-left: 160px;
    margin-right: 160px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}
.card{
    margin-left: "20px";
    margin-top: "15px";
}
.card_image{
    box-sizing:border-box;
    height: 120px;
    width:140px;
    cursor: pointer;
    border-radius: 2px;
    border:0.2px solid #fffDf7;
}
.card_image:hover{
    border: 1px solid #6d2594;
}
.card_title{
    font-size: 14px;
    margin-top: 2px;
    color:#202124;
    font-weight: 500;
}

.template_body{
    display: flex;
    margin-left: 160px;
    margin-right: 160px;
    
    
}